.middle-top {
  height: 10%;
  width: 100%;
  border: solid purple 5px;
  background-image: url(../images/middleTop.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.middle-bottom {
  height: 90%;
  width: 100%;
  border: solid blue 5px;
  background-image: url(../images/middleBottom.png);
  background-size: contain;
  background-repeat: no-repeat;
}
